


<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" name="title" value="<%=book.title%>" placeholder="Title" />
    </div>
    

  </div>

  <div class="col-md-6">

    <div class="form-group">
  
      <label>Author</label>
      <input class="form-control" list="author-list" name="author" value="<%=bookAuthor.name%>" placeholder="Author's Name"/>
      <datalist id ="author-list">
        <% authors.forEach(author=> { %>
          <option><%=author.name%></option> 
        
        <%})%>
      </datalist>
    </div>

    
  </div>

</div>


<div class="row">
  <div class="col-md-6 text-center">
    
    <div class="form-item no-grow">
      <label>Cover Image</label>
      <input type="file" name="cover" class="filepond" />
    </div>
    

  </div>

 
 
  <div class="col-md-6">


    <div class="form-group">
      <label>Description</label>
      <textarea rows="5"class="form-control" name="description"><%=book.description%></textarea>
    </div>
    <div class="form-group">
      <label>Page Count</label>
      <input class="form-control" type="number" name="pageCount" value="<%=book.pageCount%>" min="1" />
    </div>
  
<div class="form-group">
 <label>Publish Date</label>
  <input
    class="form-control"
		type="date"
		name="publishDate"
    value="<%=book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0]%>"
	/>
  </div>
    
  </div>

</div>










