<div class="text-center">



<h2 class="page-header"><%=book.title%></h2>
<!-- 
<img width="350"  src="<%=book.coverImagePath%>" /> -->



<div class="card mb-3" style="max-width: 66%; margin: auto" >
  <div class="card-header"> <h4 class="mb-0"><%=book.author.name %></h4> </div>
  <div class="row no-gutters">
    <img src="<%= book.coverImagePath %>" class="card-img p-4" alt="Book cover" style="height: auto; width: 100%; "> 
    <div class="row">
      <div class="card-body">
        <!-- <h5 class="card-title"></h5> -->
        <p class="card-text"><%=book.description%></p>
        <p class="card-text"><small class="text-muted"><%=book.pageCount%> pages.  Published: <%=book.date%></small></p>
    </div>
    <div class="col-md-10">
      
      </div>
    </div>
  </div>
</div>
<div class="dark-card">
<a class="btn btn-light mybtn" href="/books/<%=book.id%>/edit">Edit</a>
<a class="btn btn-light mybtn" href="/authors/<%=book.author.id%>">View Author</a>
<%- include('../partials/delete_form', {url: `/books/${book.id}`}) %> 

</div>

</div>
